html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box {
    border-radius: 75vh;
    width: 100vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: white; */
    background-image: url('all/as5.png');
    border-radius: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#message2 {
    position: relative;
    font-size: 5vh;
    color: rgb(153, 18, 63);
    margin-bottom: 2vh;
    top: 5vh;
    box-shadow: 0 0 5vh 4vh rgba(251, 223, 255, 0.7), 
}
#bt1 {
    position:relative;
    padding: 2vh 5vh  2vh 5vh;
    font-size: 4vh;
    background-color: rgb(255, 100, 152);
    color: white;
    border: none;
    cursor: pointer; 
    border-radius: 75vh;
    top: 4vw;
    /* ออร่าสีขาว */
    box-shadow: 0 0 2vh 2vh rgba(251, 223, 255, 0.7), 
                0 4px 16px rgba(255, 255, 255, 0.25);
}
#message {
    top: -3vh;
    font-size: 3vh;
    color: rgb(141, 17, 48);
    margin-top: 0; /* แก้ไขตรงนี้ */
}

#bt1:hover {
    background-color: rgb(255, 61, 158);
    color: rgb(255, 255, 255);
}
.bg-image-1 {
    background-image: url('all/hehes.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-image-2 {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2M5dm54cDFrMXQzbWdnN3Jsa216dHJzcm0xOHg3OWh2NWQzODAzMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Ju7l5y9osyymQ/giphy.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-white {
    background: white;
}
.bg-gradient {
    background-image: linear-gradient(315deg, #ffffff 0%, rgb(243, 180, 164));
    background-repeat: no-repeat;
}



@media screen and (max-width: 480px) {
    .box {
        width: 90vw;
        height: 67.5vw; /* รักษาอัตราส่วน 4:3 */
        border-radius: 10vw;
    }
    #message2 {
        position: relative;
        font-size: 6vw;
        margin-bottom: 2vw;
        top: 3vw;
    }
    #bt1 {
        padding: 3vw 7vw;
        font-size: 5vw;
        top: 6vw;
        border-radius: 10vw;
        box-shadow: 0 0 1vh 1vh rgba(251, 223, 255, 0.7), 
                0 4px 16px rgba(255, 255, 255, 0.25);}

    #message {
        top: -3vw;
        font-size: 5vw;
        margin-top: 0; /* แก้ไขตรงนี้ */
    }
}
